# انسخي الملف ده وسميه .env
# وحطي فيه بيانات مشروع Supabase بتاعك (هتلاقيها في Project Settings > API)

VITE_SUPABASE_URL=https://tkuooezixiletubvnkyy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRrdW9vZXppeGlsZXR1YnZua3l5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1ODYwMjYsImV4cCI6MjEwMDE2MjAyNn0.ALT--K-IvkCoAX21Filg88ijhtB_01nYjZOLbKwr-OQ
